%h1 Questions
%br
= link_to new_question_path, class: 'btn btn-primary' do
  .glyphicon.glyphicon-plus
  Create
%hr.invisible
%table.table.table-striped
  %tr
    %th Question
    %th Answer
    %th Username
    %th
    %th
  - @questions.each do |question|
    %tr
      %td= link_to question.body, question
      - if question.answer
        %td= question.answer.body
      - else
        %td Unanswered Question
      %td= question.user.email
      %td= link_to 'Edit', edit_question_path(question)
      %td= link_to 'Destroy', question_path(question),
                  method: :delete,
                  data: { confirm: 'You sure homeboy?' }
