%p
  %h2 Question
  %p= @question.body
%br
  - if user_signed_in?
    = link_to 'Edit the question', edit_question_path(@question)

%h2 Answer
- if @question.answer
  %p= @question.answer.body

- if user_signed_in?
  %h2 Add to this answer
  - if @question.answer
    = simple_form_for([@question, @question.answer]) do |f|
      = f.input :body
      = f.button :submit, 'Save'
  - else
    Be the first to begin answering this question!
    %br
    = link_to new_question_answer_path(@question), class: 'btn btn-primary' do
      .glyphicon.glyphicon-plus
      Create
